1: First chunk is free (lumbridge) 
2: Chunks can only be purchased if they are touching unlocked chunks
3: Chunks are purchased for a total of 5 points each.
4: Points are earned as follow
        A: Skill level ups (1 point every 5 levels up to level 90 then 1 point for every level till 99) Total points: 621
        B: Combat level ups ( 1 point) Total points : 23
        C: Quest completions ( 1 point per quest point) Total points: 284
        D: Task completions ( 1 point per task) Total points: 410
        E: Achievement completions ( 5 points for easy, 10 for medium, 15 for hard, 20 for elite) Total points: 600
        F: Boss kills ( 1 point ever 10 kills)
        G: Clue scrools ( easy clue 1, medium clue 2, hard clue 3, elite clue 4, master clue 5)
        H: SuperRare drops ( 1 point each ) 
                                                                                                  
5: Grand exchange is limited to bronzeman mode
6: Quests that require chunks that are not unlocked can not be completed
7: You may not buy supplies required for quests from the grand exhange
8: You may only purchase armour and weapons from the Grand Exchange. This excludes ammo, runes, ect 
9: Membership is allowed after spending a total of 100 points. 
10: You may only enter a locked chunk for quest completion. (if you chose to play the easy way)
11: Banks may only be used to store the following; Coins, jewlery, gemstones. (List is a work in progress, comment suggestions)

#Authours note. 
I will be livestreaming my progress @ https://www.twitch.tv/chrispyzombie
I will post periodic video updates to my youtube. https://www.youtube.com/channel/UCQeq2XfXLaDIIuf4e3kFkwA
Follow my Twitter for updates. https://twitter.com/chrispy_zombie

I am working on a runelit plugin for this.
